input.form-control,
textarea.form-control,
button.form-control,
select.form-control{
    margin-bottom: 5px;
}

body {
    margin-top: 70px;
    margin-bottom: 60px;
}

body a:hover {
    text-decoration: none !important;
}

.navbar-default {
    background-color: #3bcb23;
}

.navbar-main {
    background-color: #031202;
}

.navbar-secondary {
    background-color: #a5f1be;
}

.background-image-center{
    position: fixed;
    top: 40px;
    z-index: -1;
    overflow: hidden;
    min-width: 100%;
    height: auto;

}

.navbar-default .navbar-brand, .white {
    color: white;
}

.padding-bottom {
    padding-bottom: 20px;
}

.padding-top {
    padding-top: 20px;
}

.navbar-padding-right {
    padding-right: 17px;
}

.list-group-item {
    border: none;
}

.center {
    display: block;
    margin: auto;
}

.back-button {
    margin-left: 5px;
}

.plus-button {
    margin-right: 30px
}

.ok-button {
    margin-right: 0px;
}

.side-bar {
    overflow-y: scroll;
    top: 0px;
    bottom: 0px;
    position: absolute;
    left: 0px;
    margin-top: 50px;
    padding-top: 15px;
    margin-bottom: 50px;
}

.scrollable-left {
    position: absolute;
    top: 50px;
    bottom: 0px;
    overflow: scroll;
    padding-top: 15px;
    padding-bottom: 30px;
}

.wd-widget {
    position: relative;
    margin-bottom: 10px;
}

.wd-toolbar {
    position: absolute;
    background-color: white;
    top: 0px;
    right: 0px;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 10px;
    opacity: 0.8;
}

.pet-page {
    padding-left: 20px;
    padding-top: 30px;
}

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.image-scale {
    position: relative;
    max-width:70%;
    max-height:70%;
}

.home-image-scale {
    position: relative;
    max-width:100%;
    overflow: hidden;
}
