<div>
    <label for="name">Name</label>
    <input id="name"
           class="form-control"/>

    <label for="text">Text</label>
    <input id="text"
           class="form-control"
           placeholder="A high-throughput assay for quantitative measurement of PCR errors"/>

    <label for="text">Size</label>
    <select class="form-control">
        <option value="1">1 (X Large)</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6 (smallest)</option>
    </select>

    <a href="widget-list.html" class="btn btn-danger btn-block">Delete</a>
</div>