<div class="container-fluid">
    <div ng-show="model.message" class="alert alert-info">
        {{model.message}}
    </div>

    <label for="name">Name</label>
    <input id="name"
           ng-model="model.widget.name"
           placeholder="Name"
           class="form-control"/>

    <label for="html">HTML</label>
    <div ng-model="model.widget.text"
         id="html"
         text-angular
         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
    </div>

    <a ng-click="model.updateWidget(model.widget._id, model.widget)"
       class="btn btn-block btn-success">
        Update
    </a>

    <a ng-click="model.deleteWidget(model.widget._id)"
       class="btn btn-block btn-danger">
        Delete
    </a>

</div>