<div class="container-fluid">
    <div ng-show="model.message" class="alert alert-info">
        {{model.message}}
    </div>

    <label for="name">Name</label>
    <input id="name"
           ng-model="model.widget.name"
           placeholder="Name"
           class="form-control"/>

    <label for="text">Text</label>
    <input id="text" placeholder="Text" ng-model="model.widget.text" class="form-control"/>
    <label for="rows">Rows</label>
    <input id="rows" placeholder="Rows" ng-model="model.widget.rows" class="form-control" type="number"/>
    <label for="placeholder">Placeholder</label>
    <input id="placeholder" placeholder="Placeholder" ng-model="model.widget.placeholder" class="form-control"/>
    <label for="formatted">Formatted</label>
    <input id="formatted" ng-model="model.widget.formatted" type="checkbox"/>

    <a ng-click="model.updateWidget(model.widget._id, model.widget)"
       class="btn btn-block btn-success">
        Update
    </a>

    <a ng-click="model.deleteWidget(model.widget._id)"
       class="btn btn-block btn-danger">
        Delete
    </a>

</div>