<nav class="navbar navbar-secondary navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <p class="navbar-text pull-left">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left white">
          </span>
                </a>
            </p>
            <a class="navbar-brand white" href="#">
                Choose Widget
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <label>Choose Widget Type To Create</label>
    <select ng-model="model.widget.widgetType" class="form-control">
        <option value="HEADING">Heading</option>
        <option value="IMAGE">Image</option>
        <option value="HTML">HTML</option>
        <option value="YOUTUBE">YouTube</option>
        <option value="LABEL">Label</option>
        <option value="TEXT_INPUT">Text Input</option>
        <option value="LINK">Link</option>
        <option value="BUTTON">Button</option>
        <option value="DATA_TABLE">Data Table</option>
        <option value="REPEATER">Repeater</option>
    </select>

    <a ng-click="model.createWidget(model.widget)"
       class="btn btn-block btn-success">
        Create Widget Type
    </a>

</div>



<div ng-include="'views/common/footer.view.client.html'"></div>
