<!--<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/styles.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Widget Youtube</title>
</head>
<body>-->

<nav class="navbar navbar-secondary navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left back-button">
                <a href="widget-list.html">
                    <span class="glyphicon glyphicon-chevron-left white"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand white" href="#">
                    Widget
                </a>
            </div>
            <div class="navbar-text pull-right plus-button">
                <a href="widget-choose.html">
                    <span class="glyphicon glyphicon-plus white"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="navbar-text pull-left back-button">
                <a href="website-list.html">
                    <span class="glyphicon glyphicon-chevron-left white"></span>
                </a>
            </div>
            <div class="navbar-text pull-right ok-button">
                <a href="website-list.html">
                    <span class="glyphicon glyphicon-ok white"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand white" href="#">
                    Widget Edit
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs side-bar">
        <div class="wd-widget">
            <div class="wd-toolbar">
                <a href="widget-heading.html">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>
            <h1>Nature.com</h1>
        </div>
        <div class="wd-widget">
            <div class="wd-toolbar">
                <a href="widget-heading.html">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>
            <h3>A high-throughput assay for quantitative measurement of PCR errors</h3>
        </div>
        <div class="wd-widget">
            <div class="wd-toolbar">
                <a href="widget-image.html">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>
            <img width="100%" src="https://media.springernature.com/lw900/springer-static/image/art%3A10.1038%2Fs41598-017-02727-8/MediaObjects/41598_2017_2727_Fig1_HTML.jpg"/>
        </div>
        <div class="wd-widget">
            <div class="wd-toolbar">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>

            <p>The accuracy with which DNA polymerase can replicate a template DNA sequence is an extremely important property that can vary by an order of magnitude from one enzyme to another. The rate of nucleotide misincorporation is shaped by multiple factors, including PCR conditions and proofreading capabilities, and proper assessment of polymerase error rate is essential for a wide range of sensitive PCR-based assays.
            <p>In this paper, we describe a method for studying polymerase errors with exceptional resolution, which combines unique molecular identifier tagging and high-throughput sequencing. Our protocol is less laborious than commonly-used methods, and is also scalable, robust and accurate. In a series of nine PCR assays, we have measured a range of polymerase accuracies that is in line with previous observations.</p>
            <p>However, we were also able to comprehensively describe individual errors introduced by each polymerase after either 20 PCR cycles or a linear amplification, revealing specific substitution preferences and the diversity of PCR error frequency profiles. We also demonstrate that the detected high-frequency PCR errors are highly recurrent and that the position in the template sequence and polymerase-specific substitution preferences are among the major factors influencing the observed PCR error rate.</p>
        </div>
        <div class="wd-widget">
            <div class="wd-toolbar">
                <a href="widget-youtube.html">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>
            <iframe width="100%" src="https://www.youtube.com/embed/DkT6XHWne6E" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="wd-widget"></div>
    </div>

    <div class="col-xs-12 col-sm-8 pull-right">
        <label for="name">Name</label>
        <input id="name"
               class="form-control"
               placeholder="PCR"/>

        <label for="text">Text</label>
        <input id="text"
               class="form-control"
               placeholder="An Animated Tutorial"/>

        <label for="url">URL</label>
        <input id="url"
               class="form-control"
               placeholder="https://www.youtube.com/embed/DkT6XHWne6E"/>

        <label for="text">Width</label>
        <input id="text"
               class="form-control"
               placeholder="100%"/>

        <a href="widget-list.html" class="btn btn-danger btn-block">Delete</a>
    </div>
</div>

<nav class="navbar navbar-secondary navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="../user/profile.html">
                <span class="glyphicon glyphicon-user white"></span>
            </a>
        </div>
    </div>
</nav>

<!--
</body>
</html>-->
