<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left back-button">
                <a href="#!/user/{{model.userId}}/website">
                    <span class="glyphicon glyphicon-chevron-left white"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#!/user/{{model.userId}}/website/new">
                    Websites
                </a>
            </div>
            <div class="navbar-text pull-right plus-button">
                <a href="#!/user/{{model.userId}}/website/new">
                    <span class="glyphicon glyphicon-plus white"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="navbar-text pull-left back-button">
                <a href="#!/user/{{model.userId}}/website">
                    <span class="glyphicon glyphicon-chevron-left white"></span>
                </a>
            </div>
            <div class="navbar-text pull-right ok-button">
                <a ng-click="model.createWebsite(website)">
                    <span class="glyphicon glyphicon-ok white"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#!/user/{{model.userId}}/website/new">
                    New Website
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs side-bar">
        <ul class="list-group">
            <li ng-repeat="website in model.websites" class="list-group-item btn-default">
                <a href="#!/user/{{model.userId}}/website/{{website._id}}/page">
                    {{website.name}}
                </a>
                <a href="#!/user/{{model.userId}}/website/{{website._id}}">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
        </ul>
    </div>

    <div class="col-xs-12 col-sm-8 pull-right">
        <div ng-show="model.error" class="alert alert-danger">
            {{model.error}}
        </div>
        <label for="name">Website Name</label>
        <input id="name"
               ng-model="website.name"
               class="form-control"
               placeholder="Name"/>

        <label for="description">Website Description</label>
        <textarea id="description"
                  ng-model="website.description"
                  rows="5"
                  class="form-control"
                  placeholder="Description"></textarea>

        <a ng-click="model.createWebsite(website, website.name)"
           class="btn btn-block btn-success">
            Create
        </a>

    </div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>