<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <p class="navbar-text pull-left back-button">
                <a href="#!/profile" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left white">
          </span>
                </a>
            </p>
            <div class="navbar-brand" href="#!/website">
                Websites
            </div>
        </div>
        <div class="navbar-header pull-right">
            <p class="navbar-text plus-button">
                <a href="#!/website/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus white"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li ng-repeat="website in model.websites" class="list-group-item btn-default">
            <a href="#!/website/{{website._id}}">
                {{website.name}}
            </a>
            <a href="#!/website/{{website._id}}">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </li>
    </ul>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>