<nav class="navbar navbar-secondary navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left back-button">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
                    <span class="glyphicon glyphicon-chevron-left white"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand white" href="">
                    Pages
                </a>
            </div>
            <div class="navbar-text pull-right plus-button">
                <a href="">
                    <span class="glyphicon glyphicon-plus white"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="navbar-text pull-left back-button">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
                    <span class="glyphicon glyphicon-chevron-left white"></span>
                </a>
            </div>
            <div class="navbar-text pull-right ok-button">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
                    <span class="glyphicon glyphicon-ok white"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand white" href="">
                    New Page
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs side-bar">
        <ul class="list-group">
            <li ng-repeat="page in model.pages" class="list-group-item btn-default">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                    {{page.name}}
                </a>
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-8 pull-right">
        <label for="name">Name</label>
        <input id="name"
               ng-model="page.name"
               class="form-control"
               placeholder="Page Name"/>

        <label for="description">Title</label>
        <textarea id="description"
                  ng-model="page.description"
                  rows="5"
                  class="form-control"
                  placeholder="Page Title"></textarea>

        <a ng-click="model.createPage(page)"
           class="btn btn-block btn-success">
            Create
        </a>

    </div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>

